
@media only screen and (min-width: 750px) 
{
    .login-box
    {
        /* box-shadow: 0px 0px 7px black; */
        padding: 16px;
        background: ghostwhite;
        width: 400px;
        height: 400px;
        margin-bottom: 75px;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-flow: column;
        border-radius: 10px;
        position: relative;
        top: 50%;
        left: 50%;
        transform: translate(-202px, 44px);
        
        box-shadow: 13px 13px 20px #cbced1,
                    -13px -13px 20px #ffffff;
    }

    .title
    {
        color: #333333;
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
        position: absolute;
        top: 0;
        margin-top: 40px;
        font-weight: bolder;
    }

    hr
    {
        width: 80%;
        color: #333333;
        margin-bottom: 10px;
        /* position: absoulte; */
    }

    p
    {
        margin-top: 10px !important;
        font-size: 18px;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        font-weight: bold;
        margin-bottom: 10px !important;
    }
    .login-form
    {
        width: 80% !important;
        text-align: center !important;
    }

   
}

.logo-login
{
    height: 45px;
    width: 45px;
    margin-top: -45px;
    margin-right: 6px;
    position: relative;
    padding: 0;
    margin-bottom: -42px;
}

